@import url(https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap);
@font-face {
  font-family: "Fraunces 144pt";
  src: url("../fonts/Fraunces144ptS000-SemiBold.woff2") format("woff2"), url("../fonts/Fraunces144ptS000-SemiBold.woff") format("woff"), url("../fonts/Fraunces144ptS000-SemiBold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 177.777778%; /* 32px/18 */
  color: #24053e;
  background-color: #fff;
}
@media (max-width: 767.9808px) {
  body {
    font-size: 16px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1199.9808px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.9808px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.9808px) {
  [class*=__container] {
    max-width: none;
  }
}

.page {
  flex: 1 1 auto;
}

.page__main {
  position: relative;
  max-height: 730px;
  padding-top: 146px;
  background-image: url(../img/bg/bg-violet.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.9808px) {
  .page__main {
    max-height: 540px;
    padding-top: 122px;
  }
}

.page__analytics {
  margin-top: -230px;
  padding: 480px 0 55px;
  background-image: url(../img/bg/bg-light.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 960px;
}

.page__apply {
  padding: 110px 0 62px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 0;
}
@media (max-width: 767.9808px) {
  .header__body {
    padding: 32px 40px;
  }
}
.header__logo {
  width: 96px;
  height: 25px;
}
.header__logo img {
  max-height: 100%;
}
.header__link {
  color: #fff;
  font-weight: 700;
  line-height: 177.777778%; /* 32px/18 */
  letter-spacing: -0.18px;
  border-bottom: 3px solid #44ffa1;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.9808px) {
  .header__link {
    line-height: 200%; /* 32px/16 */
  }
}
.header__link:hover {
  color: #44ffa1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 23px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 177.777778%; /* 32px/18 */
  letter-spacing: -0.18px;
  color: #24053e;
  background-color: #44ffa1;
  transition: all 0.3s ease 0s;
}
.button:hover {
  color: #44ffa1;
  border: 3px solid #44ffa1;
  background-color: transparent;
}

.main__title {
  font-family: "Fraunces 144pt", serif;
  max-width: 635px;
  margin: 0 auto 37px;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%; /* 80px/80 */
  color: #fff;
}
@media (max-width: 767.9808px) {
  .main__title {
    font-size: 60px;
    max-width: 480px;
  }
}
.main__title a {
  display: inline-block;
  color: inherit;
  padding-bottom: 10px;
  border-bottom: 3px solid #44ffa1;
}
.main__button {
  min-height: 60px;
  max-width: 180px;
  margin: 0 auto 50px;
}
@media (max-width: 767.9808px) {
  .main__button {
    min-height: 55px;
    max-width: 135px;
    margin: 0 auto 55px;
    font-size: 16px;
  }
}
.main__image {
  max-width: 767px;
  margin: 0 auto;
}
@media (max-width: 767.9808px) {
  .main__image {
    max-width: 514px;
  }
}
.main__image img {
  max-width: 100%;
}
.main__decor_left {
  position: absolute;
  top: 155px;
  left: 0;
}
@media (max-width: 767.9808px) {
  .main__decor_left {
    top: 135px;
    left: -80px;
  }
}
.main__decor_right {
  position: absolute;
  top: 315px;
  right: 0;
}
@media (max-width: 767.9808px) {
  .main__decor_right {
    top: 250px;
    right: -70px;
  }
}

.analytics__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px -26px;
}
.analytics__column {
  min-width: 280px;
  flex: 0 1 33.33%;
  padding: 0 13px;
  margin-bottom: 26px;
}
@media (max-width: 992px) {
  .analytics__column {
    flex: 0 1 50%;
  }
}

.column-analytics__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.column-analytics__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #584d62;
  font-family: "Fraunces 144pt", serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 166.666667%; /* 40px/24 */
  margin-bottom: 56px;
}
.column-analytics__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.column-analytics__title {
  font-family: "Fraunces 144pt", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px/32 */
  margin-bottom: 28px;
}
.apply__container {
  position: relative;
  min-height: 650px;
}
@media (max-width: 992px) {
  .apply__container {
    min-height: 870px;
  }
}
.apply__avatar {
  width: 477px;
  height: 477px;
  border-radius: 50%;
}
.apply__content {
  position: absolute;
  right: 0;
  bottom: 60px;
  padding: 64px;
  max-width: 730px;
  background-color: #24053e;
}
@media (max-width: 1200px) {
  .apply__content {
    max-width: 600px;
  }
}
.apply__title {
  font-family: "Fraunces 144pt", serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 114.285714%; /* 64px/56 */
  color: #fff;
  margin-bottom: 32px;
}
.apply__text {
  color: #fff;
  margin-bottom: 32px;
}
.apply__button {
  min-height: 60px;
  width: 200px;
}
@media (max-width: 767.9808px) {
  .apply__button {
    min-height: 55px;
    max-width: 175px;
  }
}
.apply__decor {
  position: absolute;
  right: 73px;
  bottom: 0;
}

.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 57px;
  padding-bottom: 110px;
}
.footer__logo {
  width: 96px;
  height: 25px;
}
.footer__logo img {
  max-width: 100%;
}
.footer__socials {
  display: flex;
  gap: 28px;
}

.socials__item {
  width: 20px;
  height: 20px;
}
.socials__link {
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}
.socials__link img {
  max-height: 100%;
}
.socials__link:hover {
  opacity: 1;
  cursor: pointer;
}