@import url(https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap);
@font-face {
   font-family: "Fraunces 144pt";
   src: url("../fonts/Fraunces144ptS000-SemiBold.woff2") format("woff2"),
      url("../fonts/Fraunces144ptS000-SemiBold.woff") format("woff"),
      url("../fonts/Fraunces144ptS000-SemiBold.ttf") format("truetype");
}
@import "_nullstyle.scss";

body {
   font-family: "Manrope", sans-serif;
   // font-family: "Fraunces 144pt", serif;
   font-style: normal;
   font-weight: 400;
   font-size: 1.125rem;
   line-height: 177.777778%; /* 32px/18 */
   @media (max-width: 47.9988rem) {
      font-size: 1rem;
      line-height: 175%;
   }
   color: #24053e;
   background-color: #fff;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 71.25rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
   @media (max-width: 74.9988rem) {
      max-width: 60.625rem;
   }
   @media (max-width: 61.9988rem) {
      max-width: 46.875rem;
   }
   @media (max-width: 47.9988rem) {
      max-width: none;
   }
}
.page {
   flex: 1 1 auto;
}

//========PAGES=========//
.page {
   &__main {
      position: relative;
      z-index: 2;
      max-height: 45.625rem;
      padding-top: 9.125rem;
      @media (max-width: 47.9988rem) {
         max-height: 33.75rem;
         padding-top: 7.625rem;
      }
      @media (max-width: 30rem) {
         max-height: 30rem;
         padding-top: 8.125rem;
      }
      background-image: url(../img/bg/bg-violet.svg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.page {
   &__analytics {
      margin-top: -14.375rem;
      padding-top: 30rem;
      min-height: 60rem;
      @media (max-width: 47.9988rem) {
         min-height: 57.5rem;
         padding: 27.125rem 0 3.4375rem;
      }
      @media (max-width: 30rem) {
         margin-top: -5.625rem;
         min-height: 66.875rem;
         padding: 15.3125rem 0 1.875rem;
      }
      background-image: url(../img/bg/bg-light.svg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
   }
}
.page {
   &__apply {
      padding: 6.875rem 0 7.5rem;
      @media (max-width: 47.9988rem) {
         padding: 6.25rem 0 5rem;
      }
      @media (max-width: 30rem) {
         padding: 3.125rem 0 5rem;
      }
   }
}

//========HEADER========//
.header {
   position: absolute;
   width: 100%;
   z-index: 3;
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3.4375rem 0;
      @media (max-width: 47.9988rem) {
         padding: 2rem 2.5rem;
      }
      @media (max-width: 30rem) {
         padding: 2rem 0rem;
      }
   }
   &__logo {
      width: 6rem;
      height: 1.5625rem;
      img {
         max-height: 100%;
      }
   }
   &__link {
      color: #fff;
      font-weight: 700;
      line-height: 177.777778%; /* 32px/18 */
      @media (max-width: 47.9988rem) {
         line-height: 200%; /* 32px/16 */
      }
      letter-spacing: -0.0112rem;
      border-bottom: 3px solid #44ffa1;
      transition: all 0.3s ease 0s;
      &:hover {
         color: #44ffa1;
      }
   }
}

//=======PAGE_MAIN=======//
.button {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0.3125rem 1.4375rem;
   font-family: Manrope;
   font-size: 1.125rem;
   line-height: 177.777778%; /* 32px/18 */
   @media (max-width: 47.9988rem) {
      font-size: 1rem;
      line-height: 200%; /* 32px/16 */
   }
   font-weight: 700;
   letter-spacing: -0.0112rem;
   color: #24053e;
   background-color: #44ffa1;
   transition: all 0.3s ease 0s;
   &:hover {
      color: #44ffa1;
      border: 3px solid #44ffa1;
      background-color: transparent;
   }
}
.main {
   &__title {
      font-family: "Fraunces 144pt", serif;
      max-width: 39.6875rem;
      margin: 0 auto 2.3125rem;
      text-align: center;
      font-size: 5rem;
      @media (max-width: 47.9988rem) {
         font-size: 3.75rem;
         max-width: 30rem;
      }
      @media (max-width: 30rem) {
         font-size: 3.125rem;
         margin-bottom: 3.125rem;
      }
      font-weight: 600;
      line-height: 100%; /* 80px/80 */
      color: #fff;
      a {
         display: inline-block;
         color: inherit;
         padding-bottom: 0.625rem;
         border-bottom: 3px solid #44ffa1;
      }
   }
   &__button {
      min-height: 3.75rem;
      max-width: 11.25rem;
      margin: 0 auto 3.125rem;
      @media (max-width: 47.9988rem) {
         min-height: 3.4375rem;
         max-width: 8.4375rem;
         margin: 0 auto 3.4375rem;
         font-size: 1rem;
      }
      @media (max-width: 47.9988rem) {
         margin-bottom: 3.875rem;
      }
   }
   &__image {
      max-width: 47.9375rem;
      margin: 0 auto;
      @media (max-width: 47.9988rem) {
         max-width: 32.125rem;
      }
      @media (max-width: 30rem) {
         max-width: 20rem;
      }
      img {
         max-width: 100%;
      }
   }
   &__decor {
      &_left {
         position: absolute;
         top: 9.6875rem;
         left: 0;
         @media (max-width: 47.9988rem) {
            top: 8.4375rem;
            left: -5rem;
         }
         @media (max-width: 30rem) {
            display: none;
         }
      }
      &_right {
         position: absolute;
         top: 19.6875rem;
         right: 0;
         @media (max-width: 47.9988rem) {
            top: 15.625rem;
            right: -4.375rem;
         }
         @media (max-width: 30rem) {
            display: none;
         }
      }
   }
}

//==========PAGE_ANALYTICS=========//
.analytics {
   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.8125rem -1.625rem;
      @media (max-width: 47.9988rem) {
         flex-direction: column;
         margin: 0;
      }
   }
   &__column {
      flex: 0 1 33.33%;
      min-width: 17.5rem;
      padding: 0 0.8125rem;
      margin-bottom: 1.625rem;
      @media (max-width: 61.9988rem) {
         flex: 0 1 50%;
         &:last-child {
            flex: 0 1 100%;
         }
      }
      @media (max-width: 47.9988rem) {
         margin-bottom: 3rem;
         padding: 0 6.125rem;
      }
      @media (max-width: 30rem) {
         margin-bottom: 2.5rem;
         padding: 0 0px;
      }
   }
}
.column-analytics {
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 47.9988rem) {
         align-items: start;
         flex-direction: row;
         gap: 2rem;
      }
      @media (max-width: 30rem) {
         flex-direction: column;
         align-items: center;
         gap: 1.5rem;
      }
      height: 100%;
   }
   &__number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      border: 1px solid #584d62;
      font-family: "Fraunces 144pt", serif;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 166.666667%; /* 40px/24 */
      margin-bottom: 3.5rem;
      @media (max-width: 47.9988rem) {
         flex: 1 0 3.125rem;
         font-size: 1.25rem;
         line-height: 180%; /* 36px/20 */
         margin-top: 2.8125rem;
         margin-bottom: 0;
      }
      @media (max-width: 30rem) {
         margin: 0;
      }
   }
   &__body {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      @media (max-width: 47.9988rem) {
         align-items: flex-start;
         text-align: start;
      }
      @media (max-width: 30rem) {
         align-items: center;
         text-align: center;
      }
   }
   &__title {
      font-family: "Fraunces 144pt", serif;
      font-weight: 600;
      font-size: 2rem;
      line-height: 125%; /* 40px/32 */
      margin-bottom: 1.75rem;
      @media (max-width: 47.9988rem) {
         margin-bottom: 1rem;
         font-size: 1.75rem;
         line-height: 128.571429%; /* 36px/28 */
      }
   }
}

//==============PAGE_APPLY==========//
.apply {
   &__container {
      position: relative;
      min-height: 40.625rem;
      @media (max-width: 61.9988rem) {
         min-height: 43.75rem;
      }
      @media (max-width: 47.9988rem) {
         min-height: 32.8125rem;
         padding: 0 2.5rem;
      }
      @media (max-width: 720px) {
         min-height: 36.5625rem;
      }
      @media (max-width: 30rem) {
         min-height: 39.6875rem;
         padding: 0 0px;
      }
   }
   &__avatar {
      width: 29.8125rem;
      height: 29.8125rem;
      @media (max-width: 61.9988rem) {
         width: 23.5625rem;
         height: 23.5625rem;
      }
      @media (max-width: 47.9988rem) {
         width: 17.5625rem;
         height: 17.5625rem;
      }
      @media (max-width: 30rem) {
         margin: 0 auto;
      }
      border-radius: 50%;
      img {
         max-width: 100%;
      }
   }
   &__content {
      background-color: #24053e;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 4rem;
      max-width: 45.625rem;
      @media (max-width: 74.9988rem) {
         max-width: 37.5rem;
      }
      @media (max-width: 47.9988rem) {
         right: 2.5rem;
         max-width: 32.125rem;
         padding: 3rem 3.5rem 3.5rem;
      }
      @media (max-width: 30rem) {
         right: 0.9375rem;
         margin-left: 0.9375rem;
         max-width: 19.625rem;
         padding: 2rem;
      }
   }
   &__title {
      font-family: "Fraunces 144pt", serif;
      font-weight: 600;
      color: #fff;
      font-size: 3.5rem;
      line-height: 114.285714%; /* 64px/56 */
      margin-bottom: 2rem;
      @media (max-width: 47.9988rem) {
         font-size: 3rem;
         line-height: 116.666667%; /* 56px/48 */
         margin-bottom: 1.5rem;
      }
      @media (max-width: 767.9808px) {
         font-size: 2rem;
         line-height: 150%; /* 48px/32 */
         margin-bottom: 1rem;
         text-align: center;
      }
   }
   &__text {
      color: #fff;
      margin-bottom: 2rem;
      @media (max-width: 47.9988rem) {
         margin-bottom: 1.5rem;
      }
      @media (max-width: 30rem) {
         text-align: center;
      }
   }
   &__button {
      min-height: 3.75rem;
      max-width: 12.5rem;
      @media (max-width: 47.9988rem) {
         min-height: 3.4375rem;
         max-width: 10.9375rem;
      }
      @media (max-width: 30rem) {
         margin: 0 auto;
      }
   }
   &__decor {
      position: absolute;
      right: 4.5625rem;
      bottom: -3.875rem;
      @media (max-width: 47.9988rem) {
         right: 2.5rem;
         bottom: -6.5625rem;
      }
      @media (max-width: 30rem) {
         display: none;
      }
   }
}

//========FOOTER======//
.footer {
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.5625rem;
      padding-bottom: 6.875rem;
   }
   &__logo {
      width: 6rem;
      height: 1.5625rem;
      img {
         max-height: 100%;
      }
   }
   &__socials {
      display: flex;
      gap: 1.75rem;
   }
}
.socials {
   &__item {
      width: 1.25rem;
      height: 1.25rem;
   }
   &__link {
      img {
         max-height: 100%;
      }
      opacity: 0.6;
      transition: all 0.3s ease 0s;
      &:hover {
         opacity: 1;
         cursor: pointer;
      }
   }
}
